.upper{
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}
.lower{
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-top: none;
}
.center{
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-top: none;
}
.title{
    text-align: center;
}
.bolded {
    font-weight: bold;
}
.arrows {
    display: inline-block;
    cursor: pointer;
}
.selectHolder {
    display: inline-block;
}
#OutExample {
    display: inline-block;
}
#InExample {
    display: inline-block;
}
.firstOption {
    font-weight: bold;
    text-decoration: underline;
}
.upload {
    display: inline-block;
}
.mediaImg {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-color: black;
    margin: 3px;
    
}
.uploadInfo {
    display: inline-block;
}
.uploadFailed {
    display: inline-block;
    color: red;
}
.mediaSlot {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: lightgray;
    margin: 1px;
}

.images {
    display: inline-block;
}

btn btn-danger {
    width: 80px;
}
